@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  color: #111827;
}